@import "../variables.scss";

  .main__answers {
    grid-area: answers;
    list-style-type: none;
    background-color: $white;
    display: grid;
    width: 250px;
    align-items: center;
    padding: 5px 0;
    font-family: "Comic Sans MS", 'Times New Roman', sans-serif;
    color: $black;
    border: $yellow solid 3px;
    border-radius: 10px;

    &-item {
      display: flex;
      text-align: center;
      margin: 0 auto;
      min-width: 150px;
      max-width: 300px;
      height: 30px;
      border-radius: 10px;
      justify-content: left;
      align-items: center;
      &-signal{
        margin:0 10px;
        width: 15px;
        height: 15px;
        background-color: $gray;
        border-radius: 10px;
      }
    }
    &-item:hover {
      background-color: $yellow;
      cursor: pointer;
    }

}
.guessed{
  background-color: green;
}
.not-guessed{
  background-color: red;
}

