@import "variables";

.main__answers {
  display: grid;
  grid-area: answers;
  align-items: center;
  width: 250px;
  padding: 5px 0;
  color: $black;
  background-color: $white;
  border: $yellow solid 3px;
  border-radius: 10px;

  &-item {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 250px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;

    &-signal {
      width: 15px;
      height: 15px;
      margin: 0 10px;
      background-color: $gray;
      border-radius: 10px;
    }
  }

  &-item:hover {
    background-color: $yellow;
    cursor: pointer;
  }

}

.guessed {
  background-color: green;
}

.not-guessed {
  background-color: red;
}

@media screen and (max-width: 480px) {

  .main__answers {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: calc(90% - 6px);
    max-width: 320px;
    margin: 5px 0;

    &-item {
      height: 25px;
    }
  }

}

@media screen and (max-width: 768px) and (min-width: 481px) {

  .main__answers {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    width: calc(95% - 6px);
    max-width: 320px;
    margin: 5px 0;

  }

}