@import "variables";

.main__description {
  display: grid;
  grid-area: description;
  grid-template-areas: "photo name""photo species""photo audio" "about about";
  width: calc(100% - 35px);
  height: content-box;
  margin: 16px;
  padding: 10px;
  background-color: $white;
  border: $yellow solid 3px;
  border-radius: 10px;

  &-photo {
    grid-area: photo;
    justify-self: flex-end;
    height: 100px;
    border-radius: 5px;
  }

  &-name {
    display: flex;
    grid-area: name;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
  }

  &-audio {
    display: flex;
    grid-area: audio;
    align-self: center;
    justify-self: center;
    min-width: 250px;
    max-width: 100%;
  }

  &-species {
    display: flex;
    grid-area: species;
    align-self: center;
    justify-self: center;
  }

  &-about {
    display: flex;
    grid-area: about;
    align-items: center;
    justify-content: center;
    margin: 0 16px;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: justify;
  }
}

.main__hint {
  display: grid;
  grid-area: description;
  align-items: center;
  width: calc(100% - 35px);
  height: content-box;
  margin: 16px;
  padding: 10px;
  text-align: center;
  background-color: $white;
  border: $yellow solid 3px;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {

  .main__description {
    grid-template-areas: "about about" "photo photo""name species""audio audio";
    align-self: center;
    justify-self: center;
    width: calc(95% - 26px);
    margin: 0;

    &-photo {
      display: flex;
      align-self: center;
      justify-self: center;
      margin: 5px;
    }

    &-about {
      margin: 0;
    }

    &-species {
      justify-self: start;

    }

    &-name {
      justify-self: end;
      font-size: 16px
    }

    &-species::before {
      margin: 0 2px;
      content: " — ";
    }
  }

  .main__hint {
    align-self: center;
    justify-self: center;
    width: calc(95% - 26px);
    margin: 0;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {

  .main__hint {
    margin: 5px;
  }

  .main__description {
    margin: 5px;
  }

}