@import "variables";

.footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  align-items: center;
  justify-content: space-between;

  &__button {
    width: 100%;
    height: 50px;
    padding: 0;
    color: inherit;
    font: inherit;
    background-color: $yellow;
    border: $black solid 3px;
    border-radius: 10px;
    outline: none;
    -webkit-appearance: none;
  }

  &__button:active {
    background-color: $white;
    transform: translateY(2px);
  }

  &__button:hover {
    cursor: pointer;
  }

  &__button:disabled {
    background-color: $gray;
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    padding: 0;
    color: $yellow;
    list-style-type: none;
    background-color: $black;
    border: $yellow solid 3px;
    border-radius: 10px;


    &-link-image {
      width: 40px;
      margin-left: 10px;
    }

    &-link-item {
      display: flex;
      align-items: center;

    }
  }


}

@media screen and (max-width: 480px) {

  .footer {

    &__button {
      width: 50%;
      height: 50px;
      margin-bottom: 5px;}

    &__contacts {
      display: none;
    }

  }

}

@media screen and (max-width: 768px) and (min-width: 481px) {

  .footer {

    &__contacts {
      display: none;
    }

  }

}