@import "variables";

.header {
  display: grid;
  grid-template-areas: "logo score" "nav nav";
  grid-template-columns: 10fr 1fr;
  align-items: center;
  width: calc(100% - 6px);
  height: 15vh;
  color: $black;
  background-color: $white;
  border: $border;
  border-radius: 10px;

  &__logo {
    grid-area: logo;
    margin: 0;
    padding: 30px;
    font-family: "Birdland Aeroplane", "Times New Roman", sans-serif;
    line-height: 0;

    &-right {
      color: $yellow;
      font-family: "I Am A Bird", "Times New Roman", sans-serif;
    }
  }

  &__score {
    grid-area: score;
    width: max-content;
    padding: 10px;
    color: $black;
    background-color: $yellow;
    border-radius: 10px;

    @extend %self-center;
  }

  &__status {
    display: flex;
    flex-direction: row;
    grid-area: nav;
    width: 100%;
    margin: 0;
    padding: 0;

    &-element {
      width: 100%;
      height: 30px;
      background-color: $gray;
      border-radius: 10px;

      @extend %items-center;
    }
  }
}

.active {
  background-color: $yellow;
}

@media screen and (max-width: 480px) {

  .header {
    width: calc(100% - 6px);
    height: 75px;
    border-radius: 0;

    &__logo {
      margin-left: 20px;
      padding: 0;
      font-size: 20px;

    }

    &__score {
      margin: 5px;
      padding: 5px;
    }

    &__status {display: flex;
      justify-content: space-evenly;

      &-element {
        width: max-content;
        padding: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 481px) {

  .header {
    border-radius: 0;

    &__score {
      margin-right: 10px;
    }

    &__status {

      &-element {
        text-align: center;
        word-break: break-word;
      }
    }
  }

}