@import "variables";

.main__question {
  display: grid;
  grid-area: question;
  grid-template-areas: "photo name" "photo audio";
  grid-template-columns: 1fr 3fr;
  align-self: end;
  width: 100%;
  margin: 0 auto;
  color: $black;
  font-size: 20px;
  background-color: $white;
  border: $border;
  border-radius: 10px;

  &-photo {
    grid-area: photo;
    align-self: center;
    justify-self: self-end;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
  }

  &-name {
    grid-area: name;
    align-self: center;
    justify-self: center;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    word-break: break-word;
  }

  &-audio {
    display: flex;
    grid-area: audio;
    justify-self: center;
    min-width: 250px;
    max-width: 70%;
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {

  .main__question {
    grid-template-areas: "photo name" "audio audio";
    width: calc(90% - 6px);
    max-width: 400px;
    margin-top: 5px;

    &-name {
      font-size: 20px;
    }

    &-photo {
      max-width: 100px;

    }

  }

}

@media screen and (max-width: 768px) and (min-width: 481px) {

  .main__question {
    margin-top: 5px;
  }

}