@import '../variables';
.message__congrats{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50vh;
  justify-self: center;
  font-family: "Comic Sans MS", 'Times New Roman', sans-serif;
  align-self: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  border: 10px $yellow solid;
  &-title{
    font-size: 40px;
  }
  &-text{
    margin-top: 20px;
  }
  &-button{
    margin-top: 20px;
    width: content-box;
    -webkit-appearance: none;
    border-radius: 10px;
    height: 50px;
    outline: none;
    background-color: $yellow;
    padding: 0;
    border: $black solid 3px;
    font: inherit;
    color: inherit;
  }
  &-button:active{
    transform: translateY(2px);
    background-color: $white;
  }
  &-button:hover{
    cursor: pointer;
  }
}
.message__hide{
  display: none;
}