@import "../variables";

.main__question {
  grid-area: question;
  width: 100%;
  margin: 0 auto;
  display: grid;
  background-color: $white;
  color: $black;
  font-size: 20px;
  grid-template-areas: 'photo name' 'photo audio';
  border-radius: 10px;
  border: $yellow solid 3px;
  grid-template-columns: 1fr 3fr;
  align-self: end;
  font-family: "Comic Sans MS", 'Times New Roman', sans-serif;

  &-photo {
    grid-area: photo;
    height: 100px;
    padding: 10px;
    justify-self: self-end;
  }

  &-name {

    font-weight: bold;
    justify-self: center;
    align-self: center;
    font-size: 25px;
    grid-area: name;
    padding: 10px;
  }

  &-audio {
    grid-area: audio;
    justify-self: center;
    width: 70%;
    padding: 5px;

  }
}


